<div id="divWeatherMain">
  <form class="searchBar">
    <label for="fname">CityName:</label><br />
    <input type="text" id="cityname" name="cityname" /><br />
  </form>
  <button class="resetButton">Reset</button>
  <button class="editButton">Edit</button>
  <div *ngIf="WeatherData.isDay" class="weatherWidgetRow">
    <i class="fas fa-4x fa-sun sun"></i>
  </div>
  <div *ngIf="!WeatherData.isDay" class="weatherWidgetRow">
    <i class="fas fa-4x fa-moon moon"></i>
  </div>
  <div class="weatherWidgetRow cloudDiv">
    <i class="fas fa-cloud fa-2x cloud"></i>
  </div>
  <div class="weatherWidgetRow" style="font-size: 45px; margin-top: 5px">
    {{ WeatherData.temp_celcius }}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 20px">
    {{ WeatherData.temp_min }}° / {{ WeatherData.temp_max }}°
  </div>
  <div class="weatherWidgetRow" style="font-size: 15px">
    Country : {{ WeatherData.country }}
  </div>
  <div class="weatherWidgetRow" style="font-size: 25px; margin-top: 10px">
    {{ WeatherData.name }}
  </div>
  <div class="weatherWidgetRow" style="font-size: 20px">
    Humidity: {{ WeatherData.main.humidity }}%
  </div>

  <div class="weatherWidgetRow" style="font-size: 20px; margin-bottom: 5px">
    Wind Speed: {{ WeatherData.windSpeed }} km/hr
  </div>
</div>
<i class="fas fa-3x"></i>
