/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(./app/Components/neda-astani-KWTkd7mHqKE-unsplash.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
